.title {
  color: red;
  font-size: 16px;
  position: absolute;
  top: 0;
}
a {
  background-color: red;
  padding: 20px;
  margin: 40px;
  border: 2px solid black;
}

img {
  display: block;
  width: 80%;
}

.banner {
  margin-top: 80px;
}

.banner-img {
  display: block;
  position: relative;

}

.tilte {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}